<router-outlet>
<!-- <mat-grid-list cols="2" rowHeight="2:1"> -->
<div class='card-holder' *ngFor="let media of this.data.media">
  <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-media"></div>
      <mat-card-title>{{media.mediaTitle}}</mat-card-title>
       <mat-card-subtitle>{{media.mediaSubtitle}}</mat-card-subtitle> 
    </mat-card-header>

     <img *ngIf="media.mediaType == 'img'" mat-card-media [src]="media.mediaURL" alt="Photo of a Shiba Inu">

     <video *ngIf="media.mediaType == 'video'" class="videoPlayer" controls>
      <source [src]="media.mediaURL" type="video/mp4">
    </video>
    <mat-card-content>
      <p>
        {{media.mediaDescription}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <button mat-button>LIKE</button>
      <button mat-button>SHARE</button>
    </mat-card-actions>
  </mat-card>
</div>
<!-- </mat-grid-list> -->
</router-outlet>